.novawesapp {
  width: 320px;
  padding: 20px;
  overflow: none;
}
.novawesappimg {
  Height: 150px;
}
 .novawesappimgborder {
  padding: 30px;
  Width: 240px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-top: 20px;
 }
 .novawesappimgborder1st {
  padding: 30px;
  Width: 240px;
  border-top: 0px solid #999;
  border-bottom: 1px solid #999;
  margin-top: 20px;
 }
.novawesappheader {
  width:240px;
  font-family: 'Special Elite', cursive;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
  margin:20px 0px -10px 0px;
  text-align: justify;
} 
.novawesapptext {
  margin-top: 20px;
  width: 240px;
  text-align:justify;
} 
