.novawesthreadone {
  width: 400px;
  background-color: none;
  border-left: 1px solid rgb(42, 175, 32, 0.5);
  border-right: 1px solid rgb(42, 175, 32, 0.5);
  padding-top: 20px;
}

.novawesthreadone a:link, .novawesthreadone a:visited, .novawesthreadone a:active {
  color: #fff;
  text-decoration: none;
}

.novawesthreadone a:hover {
  color: rgb(42, 175, 32, 0.5);
}

.novawesthreadone b {
  font-weight: bolder;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(42, 175, 32, 0.5);
  color: rgb(42, 175, 32);
}

.novawesthreadone c {
  font-style: italic;
  color: rgb(42, 175, 32);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(42, 175, 32, 0.5);
}

.novawesthreadone-textbox {
  width: 320px;
}
.novawesthreadone-imgborder {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #77;
  margin: 0px 0px 40px 0px;
  padding: 4px;
  border: 1px solid rgb(42, 175, 32, 0.5);
  z-index: 2;
} 
.novawesthreadone-img {
  position:relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} 
.novawesthreadone-imgoverlay {
  position:relative;
  top: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgb(250, 250, 250, 0.2);
  z-index: 1;
} 
.novawesthreadone-post {
  width: 260px;
  font-family: 'Heebo', sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: justify;
  color: #000;
  padding-bottom: 25px;
}
.novawesthreadone-title {
  padding: 10px 10px 10px 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
  width: 260px;
  text-shadow: .08em .08em 0px rgb(250, 250, 250);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(42, 175, 32);
  line-height: 9px;
  text-align: center;
  transform: rotate(0deg);
  position: relative;
  top:105px;
  left:0px;
  z-index:3;
} 

.novawesthreadone-tag {
  width: 260px;
  display: flex;
  height:36px;
  background: rgb(42, 175, 32, 0.2);
  border: 1px solid rgb(42, 175, 32, 0.5);
}

.novawesthreadone-tagicon {
  width: 60px;
  margin: auto;
  text-shadow:
    -1px -1px 0 #76da6d,
    1px -1px 0 #76da6d,
    -1px 1px 0 #76da6d,
		1px 1px 0 #76da6d;
  color: #fff;
  font-size: 15px;
}

.novawesthreadone-tagtext {
  width: 200px;
  margin: auto;
  text-shadow:
    -1px -1px 0 #76da6d,
    1px -1px 0 #76da6d,
    -1px 1px 0 #76da6d,
  	1px 1px 0 #76da6d;
  color: #fff;
      text-align: center;
    color: #fff;
    font-family: poppins;
    font-weight: bold;
    letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}

.novawesthreadone-tagtextbg {
  width: 60px;
  display: flex;
  height:36px;
  background: rgb(42, 175, 32, 0.3);
  border-left: 1px solid rgb(42, 175, 32, 0.5);
}
